--
-- PostgreSQL database dump
--

\restrict VLq03PxO63k9NKH3QGc3zs9kMqbuiqhcLzDF7ABA4msIiJA4IECHjinabJsSGLw

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acting_hod_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acting_hod_assignments (
    id integer NOT NULL,
    department_id integer,
    original_hod_id integer,
    acting_hod_id integer,
    from_date date,
    to_date date,
    active boolean DEFAULT true
);


ALTER TABLE public.acting_hod_assignments OWNER TO postgres;

--
-- Name: acting_hod_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.acting_hod_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.acting_hod_assignments_id_seq OWNER TO postgres;

--
-- Name: acting_hod_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.acting_hod_assignments_id_seq OWNED BY public.acting_hod_assignments.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    hod_id integer
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: dept_scores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dept_scores (
    id integer NOT NULL,
    department_id integer,
    date date,
    score integer
);


ALTER TABLE public.dept_scores OWNER TO postgres;

--
-- Name: dept_scores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dept_scores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dept_scores_id_seq OWNER TO postgres;

--
-- Name: dept_scores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dept_scores_id_seq OWNED BY public.dept_scores.id;


--
-- Name: impact_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.impact_logs (
    id integer NOT NULL,
    leave_id integer,
    affected_classes integer,
    unresolved_classes integer,
    overload_score numeric(5,2)
);


ALTER TABLE public.impact_logs OWNER TO postgres;

--
-- Name: impact_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.impact_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.impact_logs_id_seq OWNER TO postgres;

--
-- Name: impact_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.impact_logs_id_seq OWNED BY public.impact_logs.id;


--
-- Name: leave_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leave_requests (
    id integer NOT NULL,
    faculty_id integer,
    department_id integer,
    from_date date,
    to_date date,
    reason text,
    status character varying(20) DEFAULT 'pending'::character varying,
    impact_score numeric(5,2) DEFAULT 0,
    is_hod_leave boolean DEFAULT false,
    acting_hod_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT leave_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.leave_requests OWNER TO postgres;

--
-- Name: leave_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leave_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leave_requests_id_seq OWNER TO postgres;

--
-- Name: leave_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leave_requests_id_seq OWNED BY public.leave_requests.id;


--
-- Name: substitutions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.substitutions (
    id integer NOT NULL,
    leave_id integer,
    original_faculty_id integer,
    substitute_faculty_id integer,
    class_id character varying(20),
    subject character varying(150),
    day character varying(20),
    start_time character varying(10),
    end_time character varying(10),
    date date,
    status character varying(20),
    CONSTRAINT substitutions_status_check CHECK (((status)::text = ANY ((ARRAY['assigned'::character varying, 'accepted'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.substitutions OWNER TO postgres;

--
-- Name: substitutions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.substitutions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.substitutions_id_seq OWNER TO postgres;

--
-- Name: substitutions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.substitutions_id_seq OWNED BY public.substitutions.id;


--
-- Name: timetable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.timetable (
    id integer NOT NULL,
    faculty_id integer,
    subject character varying(150),
    day character varying(20),
    start_time character varying(10),
    end_time character varying(10),
    class_id character varying(20)
);


ALTER TABLE public.timetable OWNER TO postgres;

--
-- Name: timetable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.timetable_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.timetable_id_seq OWNER TO postgres;

--
-- Name: timetable_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.timetable_id_seq OWNED BY public.timetable.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    email character varying(150) NOT NULL,
    password text NOT NULL,
    role character varying(20) NOT NULL,
    department_id integer,
    skills text[],
    max_leaves integer DEFAULT 12,
    leaves_taken integer DEFAULT 0,
    acting_role character varying(20)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: acting_hod_assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acting_hod_assignments ALTER COLUMN id SET DEFAULT nextval('public.acting_hod_assignments_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: dept_scores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dept_scores ALTER COLUMN id SET DEFAULT nextval('public.dept_scores_id_seq'::regclass);


--
-- Name: impact_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impact_logs ALTER COLUMN id SET DEFAULT nextval('public.impact_logs_id_seq'::regclass);


--
-- Name: leave_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests ALTER COLUMN id SET DEFAULT nextval('public.leave_requests_id_seq'::regclass);


--
-- Name: substitutions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substitutions ALTER COLUMN id SET DEFAULT nextval('public.substitutions_id_seq'::regclass);


--
-- Name: timetable id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable ALTER COLUMN id SET DEFAULT nextval('public.timetable_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: acting_hod_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.acting_hod_assignments (id, department_id, original_hod_id, acting_hod_id, from_date, to_date, active) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (id, name, hod_id) FROM stdin;
1	Computer Science	9
2	Mathematics	10
3	Electronics	11
4	Mechanical	12
\.


--
-- Data for Name: dept_scores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dept_scores (id, department_id, date, score) FROM stdin;
1	1	2025-04-01	87
2	1	2025-04-07	91
3	1	2025-04-14	78
4	2	2025-04-01	95
5	2	2025-04-07	88
6	2	2025-04-14	92
7	3	2025-04-01	72
8	3	2025-04-07	80
9	3	2025-04-14	85
10	4	2025-04-01	68
11	4	2025-04-07	74
12	4	2025-04-14	70
\.


--
-- Data for Name: impact_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.impact_logs (id, leave_id, affected_classes, unresolved_classes, overload_score) FROM stdin;
1	1	2	0	1.20
\.


--
-- Data for Name: leave_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leave_requests (id, faculty_id, department_id, from_date, to_date, reason, status, impact_score, is_hod_leave, acting_hod_id, created_at) FROM stdin;
1	1	1	2025-04-10	2025-04-11	Medical appointment	approved	4.20	f	\N	2026-04-17 16:03:02.970972
2	2	1	2025-04-14	2025-04-14	Family function	pending	2.80	f	\N	2026-04-17 16:03:02.970972
3	3	2	2025-04-17	2025-04-18	Conference	approved	3.50	f	\N	2026-04-17 16:03:02.970972
\.


--
-- Data for Name: substitutions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.substitutions (id, leave_id, original_faculty_id, substitute_faculty_id, class_id, subject, day, start_time, end_time, date, status) FROM stdin;
1	1	1	5	CS-301	Data Structures	Monday	09:00	10:00	2025-04-10	accepted
\.


--
-- Data for Name: timetable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: acting_hod_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.acting_hod_assignments_id_seq', 1, false);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 1, false);


--
-- Name: dept_scores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dept_scores_id_seq', 12, true);


--
-- Name: impact_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.impact_logs_id_seq', 1, true);


--
-- Name: leave_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leave_requests_id_seq', 1, false);


--
-- Name: substitutions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.substitutions_id_seq', 1, false);


--
-- Name: timetable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.timetable_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: acting_hod_assignments acting_hod_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acting_hod_assignments
    ADD CONSTRAINT acting_hod_assignments_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: dept_scores dept_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dept_scores
    ADD CONSTRAINT dept_scores_pkey PRIMARY KEY (id);


--
-- Name: impact_logs impact_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impact_logs
    ADD CONSTRAINT impact_logs_pkey PRIMARY KEY (id);


--
-- Name: leave_requests leave_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_pkey PRIMARY KEY (id);


--
-- Name: substitutions substitutions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substitutions
    ADD CONSTRAINT substitutions_pkey PRIMARY KEY (id);


--
-- Name: timetable timetable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable
    ADD CONSTRAINT timetable_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_leave_faculty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_faculty ON public.leave_requests USING btree (faculty_id);


--
-- Name: idx_substitute_faculty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_substitute_faculty ON public.substitutions USING btree (substitute_faculty_id);


--
-- Name: idx_users_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_department ON public.users USING btree (department_id);


--
-- Name: acting_hod_assignments acting_hod_assignments_acting_hod_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acting_hod_assignments
    ADD CONSTRAINT acting_hod_assignments_acting_hod_id_fkey FOREIGN KEY (acting_hod_id) REFERENCES public.users(id);


--
-- Name: acting_hod_assignments acting_hod_assignments_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acting_hod_assignments
    ADD CONSTRAINT acting_hod_assignments_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: acting_hod_assignments acting_hod_assignments_original_hod_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acting_hod_assignments
    ADD CONSTRAINT acting_hod_assignments_original_hod_id_fkey FOREIGN KEY (original_hod_id) REFERENCES public.users(id);


--
-- Name: dept_scores dept_scores_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dept_scores
    ADD CONSTRAINT dept_scores_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: departments fk_departments_hod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT fk_departments_hod FOREIGN KEY (hod_id) REFERENCES public.users(id);


--
-- Name: users fk_users_department; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_department FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: impact_logs impact_logs_leave_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impact_logs
    ADD CONSTRAINT impact_logs_leave_id_fkey FOREIGN KEY (leave_id) REFERENCES public.leave_requests(id);


--
-- Name: leave_requests leave_requests_acting_hod_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_acting_hod_id_fkey FOREIGN KEY (acting_hod_id) REFERENCES public.users(id);


--
-- Name: leave_requests leave_requests_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: leave_requests leave_requests_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.users(id);


--
-- Name: substitutions substitutions_leave_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substitutions
    ADD CONSTRAINT substitutions_leave_id_fkey FOREIGN KEY (leave_id) REFERENCES public.leave_requests(id);


--
-- Name: substitutions substitutions_original_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substitutions
    ADD CONSTRAINT substitutions_original_faculty_id_fkey FOREIGN KEY (original_faculty_id) REFERENCES public.users(id);


--
-- Name: substitutions substitutions_substitute_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substitutions
    ADD CONSTRAINT substitutions_substitute_faculty_id_fkey FOREIGN KEY (substitute_faculty_id) REFERENCES public.users(id);


--
-- Name: timetable timetable_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable
    ADD CONSTRAINT timetable_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict VLq03PxO63k9NKH3QGc3zs9kMqbuiqhcLzDF7ABA4msIiJA4IECHjinabJsSGLw

